<div class="modal fade" id="addPet" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-primary-color">
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
      </div>

      <form id="petForm" method="post" action="{{ form_url }}">
        {% csrf_token %}
        <div class="modal-body p-4">
          <div class="row g-3">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="form-label">Nombre*</label>
                    {{ pet_form.name }}
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label class="form-label">Raza*</label>
                    {{ pet_form.breed }}
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label class="form-label">Color*</label>
                    {{ pet_form.color }}
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="form-label">Dueño*</label>
                    {{ pet_form.owner }}
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label class="form-label">Especie*</label>
                    {{ pet_form.species }}
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label class="form-label">Sexo*</label>
                    {{ pet_form.gender }}
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label">Alergias</label>
                {{ pet_form.allergies }}
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label">Notas Especiales</label>
                {{ pet_form.special_notes }}
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn bg-dark text-white" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-secondary"><i class="fas fa-save me-2"></i>Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
