{% extends 'base.html' %}
{% load static %}

{% block title %}
  Dashboard
{% endblock %}
{% block page_content %}
  <div class="welcome-bg">
    <div class="container">
      <div class="row align-items-center justify-content-center" style="min-height: 90vh;">
        <div class="col-md-8 col-lg-6 text-center">
          <img src="{% static 'images/pet-logo.webp' %}" alt="Logo Veterinaria" width="220" />

          <h1 class="display-5 fw-bold mb-4">Bienvenido <span class="text-primary">{{ request.user.username }}</span> al Sistema Veterinario</h1>

          <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
            <a href="{% url 'logout' %}" class="btn btn-vet btn-lg px-4 py-2"><i class="bi bi-box-arrow-in-right me-2"></i>Cerrar Sesión</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <style>
    .welcome-bg {
      min-height: 100vh;
    }
    .btn-vet {
      background-color: #67097b;
      color: white;
      transition: all 0.3s;
    }
    .btn-vet:hover {
      background-color: #81689d;
      transform: translateY(-2px);
      color: white;
    }
  </style>
{% endblock %}
