{% extends 'base.html' %}
{% load static %}

{% block navbar %}

{% endblock %}

{% block page_content %}
  <div class="welcome-bg">
    <div class="container">
      <div class="row align-items-center justify-content-center" style="min-height: 90vh;">
        <div class="col-7 col-md-8 col-lg-6 text-center d-flex flex-column align-items-center">
          <img src="{% static 'images/pet-logo.webp' %}" alt="Logo Veterinaria" width="300" />

          <h1 class="display-4 fw-bold mb-2">Bienvenido al Sistema Veterinario</h1>
          <p class="lead mb-5">Gestiona pacientes, citas y historiales médicos de forma segura y eficiente.</p>

          <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
            <a href="{% url 'login' %}" class="btn btn-primary btn-lg px-4 py-2"><i class="bi bi-box-arrow-in-right me-2"></i> Acceder al Dashboard</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <style>
    .welcome-bg {
      min-height: 100vh;
    }
  </style>
{% endblock %}
